{% load staticfiles %}
<!DOCTYPE html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link rel="shortcut icon" href="https://yt3.ggpht.com/-seX31pjzFuk/AAAAAAAAAAI/AAAAAAAAAAA/KW_1RnNexZw/s900-c-k-no/photo.jpg">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static "css/stylesheet.css" %}" type="text/css" media="screen">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
</head>
<body>
	<header>
		<h1>{% block heading %}{% endblock %}</h1>
		<table>
			<tr>
				<td><a href="/">Home</a></td>
				<td><a href="/resume">Resume</a></td>
				<td><a href="/projects">Projects</a></td>
				<td><a href="/contact">Contact</a></td>
			</tr>
		</table>
	</header>
		
	</div>
	<div class='content'>
    {% block content %}
    {% endblock %}
  </div>
	<div class="socialMediaLinks">
	  <a href="https://plus.google.com/+SaundraCastaneda/" target="_blank"><img src="{% static 'imgs/google-plus.png' %}" alt="Google Plus" height="26"></a>
	  <a href="https://github.com/svcastaneda" target="_blank"><img src="{% static 'imgs/GitHub.png' %}" alt="GitHub" height="24px"></a>
	  <a href="https://www.linkedin.com/in/svcastaneda" target="_blank"><img src="{% static 'imgs/LinkedIn.png' %}" height="24" alt="LinkedIn"></a>
  </div>
</body>