{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>Contact</title>
	
	<link rel="shortcut icon" href="https://yt3.ggpht.com/-seX31pjzFuk/AAAAAAAAAAI/AAAAAAAAAAA/KW_1RnNexZw/s900-c-k-no/photo.jpg">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
	
</head>

<body>
<div id='body'>
	<div id='header'>
		<h1>Contact</h1>
		<div id='links'>
			<a href='/'>About Me</a>
			<a href="/resume">Resume</a>
			<a href="/projects">Past Projects</a>
			<a href="/contact">Contact</a>
			<a href="https://github.com/svcastaneda" target="_blank">GitHub</a>
			<a href="https://www.linkedin.com/pub/saundra-castaneda/78/b9b/424" target="_blank">LinkedIn</a>
		</div>
	</div>
	<div class='text' id='contactinfo'>

			<!-- TRY TO USE MAILJET API -->
			<!-- CREATE CUSTOM CONTACT FORM -->
			
			<!-- Do not change the code until custom form has been made! -->
			<a id="foxyform_embed_link_657804" href="http://www.foxyform.com/"></a>
			<script type="text/javascript">
				(function(d, t){
				   var g = d.createElement(t),
				       s = d.getElementsByTagName(t)[0];
				   g.src = "http://www.foxyform.com/js.php?id=657804&sec_hash=6228c78f215&width=350px";
				   s.parentNode.insertBefore(g, s);
				}(document, "script"));
			</script>
			<!-- Do not change the code until custom form has been made! -->
			
	</div>
</div>
</body>