{% extends "mysite/base.html" %}

{% block title %}Resume{% endblock %}
{% block heading %}Resume{% endblock %}

{% block content %}
	<!-- <div class='text' id='contactinfo'> -->

			<!-- TRY TO USE MAILJET API -->
			<!-- CREATE CUSTOM CONTACT FORM -->
			
			<!-- Do not change the code until custom form has been made! -->
			<a id="foxyform_embed_link_657804" href="http://www.foxyform.com/"></a>
			<script type="text/javascript">
				(function(d, t){
				   var g = d.createElement(t),
				       s = d.getElementsByTagName(t)[0];
				   g.src = "http://www.foxyform.com/js.php?id=657804&sec_hash=6228c78f215&width=350px";
				   s.parentNode.insertBefore(g, s);
				}(document, "script"));
			</script>
			<!-- Do not change the code until custom form has been made! -->
	</div>		
{% endblock %}