{% extends "mysite/base.html" %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block heading %}Home{% endblock %}

{% block content %}
	<img src="{% static 'imgs/scastaneda.jpg' %}" height="40%" alt="Scastaneda" class="picture">
	<p>Hey everyone!</p>
	<ul>
		<li>Name: Saundra</li>
		<li>Nicknames:</li>
			<ul class="metaList">
				<li>Ders/Derz</li>
				<li>Saunders</li>
				<li>Saundoritos</li>
			</ul>
		<li>Hometown: Chicago, IL</li>
		<li>Interests/hobbies:</li>
			<ul class="metaList">
				<li>photography</li>
				<li>baking</li>
				<li>concerts</li>
			</ul>
		<li>Educational XP: studying CS at DePaul</li>
		<li>Favorite bands:</li>
			<ul class="metaList">
				<li>La Dispute</li>
				<li>The Maine</li>
				<li>twenty one pilots</li>
				<li>The Fratellis</li>
				<li>The Front Bottoms</li>
			</ul>
		<li>Quirk: I love to bake, but I don't like baked goods (or sweets in general).</li>
	</ul>
{% endblock %}