{% load staticfiles %}

<!DOCTYPE html>
<head>
	<title>Home</title>
	
	<link rel="shortcut icon" href="https://yt3.ggpht.com/-seX31pjzFuk/AAAAAAAAAAI/AAAAAAAAAAA/KW_1RnNexZw/s900-c-k-no/photo.jpg">
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static "css/stylesheet.css" %}">
	

	
</head>

<body>
<div id='body'>
	<div id='header'>
		<h1>Home</h1>
		<div id='links'>
			<a href='/'>About Me</a>
			<a href="/resume">Resume</a>
			<a href="/projects">Past Projects</a>
			<a href="/contact">Contact</a>
			<a href="https://github.com/svcastaneda" target="_blank">GitHub</a>
			<a href="https://www.linkedin.com/pub/saundra-castaneda/78/b9b/424" target="_blank">LinkedIn</a>
		</div>
	</div>
<div id="content">
	<div class='text'>
		<h2>About Me</h2>
		<h3>Hi! I'm Saundra Castaneda.</h3>
		<p>(that's me in the middle)</p><br>
		<ul>
			<li>attends at DePaul University</li>
			<li>studies computer science</li>
			<li>owns of 3 dogs</li>
			<li>plays the guitar and ukulele</li>
			<li>enjoys photography</li>
			<li>addicted to coffee</li>
			<li>loves sudoku puzzles</li>
		</ul>
	</div>
	
	<div id='pictures'>
		<img src="http://res.cloudinary.com/svcastaneda/image/upload/me.jpg" width="240" alt="Me" style="float:left">
		
		<div id='dogs'>
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/Sammy.jpg" width="115" alt="Sammy">
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/Dexter.jpg" width="115" alt="Dexter">
			<img src="http://res.cloudinary.com/svcastaneda/image/upload/Lucy.jpg" width="115" alt="Lucy">
		</div>
		
	</div>
</div>
	
</div>
</body>