{% extends "mysite/base.html" %}
{% load filters %}

{% block title %}Resume{% endblock %}
{% block heading %}Resume{% endblock %}

{% block content %}

	<h3>Education</h3>
	<table id='education'>
		{% for school in schools %}
			<tr>
				<td><b>{{ school.name }}</b></td>
				<td style='text-align:right'>({{ school.duration }})</td>
			</tr>
			{% if school.note %}
			<tr>
				<td><i>{{ school.note }}</i></td>
			</tr>
			{% endif %}
			<tr>
				<td><ul>
					<li>Major: {{ school.major }} </li>
					{% if school.concentration %}
						<li>Concentration: {{ school.concentration }}</li>
					{% endif %}
					<li>Graduation: {{ school.graduation }}</li>
					<li>GPA: {{ school.gpa }}</li>
				</ul></td>
			</tr>
		{% endfor %}
		
	</table>
		
		
	<h3>Technical Skills</h3>
	<table>
		<tr>
			<td><ul>
				{% for skill in skills_1 %}
					<li>{{ skill }}</li>
				{% endfor %}
			</ul></td>
			<td><ul>
				{% for skill in skills_2 %}
					<li>{{ skill }}</li>
				{% endfor %}
			</ul></td>
		</tr>
	</table>


	<h3>Experience</h3>
	<!-- newest to oldest or oldest to newest? -->
	{% for xp in experiences %}
	<table>
		
			<tr>
				<th>{{ xp.position }} at {{ xp.company }}</th>
			</tr>
			<tr><td>({{ xp.duration }})</td></tr>
			<tr>
				<td colspan='2'>
					<ul>
					{% for line in xp.description|split %}
						<li>{{ line }}</li>
					{% endfor %}
					</ul>
				</td>
			</tr>
		
	</table>
	{% endfor %}
	
	<h3>Accomplishments</h3>
	<ul>
		{% for thing in accomplishments %}
			<li>{{ thing }}</li>
		{% endfor %}
	</ul>
	
	<br>
	
	<h3>Organizations</h3>
	<ul>
		{% for organization in organizations %}
			<li>{{ organization.name }} [{{ organization.duration }}]</li>
		{% endfor %}
	</ul>
	

{% endblock %}